In [69]:
!pip3 install --upgrade scikit-learn==0.20.3

/bin/sh: 1: pip: not found

In [2]:
import pandas as pd 
import numpy as np
import random

In [6]:
df = pd.read_csv("~/mlopencode/train.csv")
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,17363,1,172,89.0,110,70,1,1,0,1,0,0
1,21200,1,168,68.0,110,70,1,1,0,0,1,0
2,17286,1,167,74.0,120,80,1,1,0,0,1,0
3,15822,1,157,61.0,90,70,1,1,0,0,1,0
4,20458,1,156,55.0,110,70,1,1,0,0,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          4000 non-null   int64
 1   gender       4000 non-null   int64
 2   height       4000 non-null   int64
 3   weight       4000 non-null   float64
 4   ap_hi        4000 non-null   int64
 5   ap_lo        4000 non-null   int64
 6   cholesterol  4000 non-null   int64
 7   gluc         4000 non-null   int64
 8   smoke        4000 non-null   int64
 9   alco         4000 non-null   int64
 10  active       4000 non-null   int64
 11  cardio       4000 non-null   int64
dtypes: float64(1), int64(11)
memory usage: 375.1 KB

In [8]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,17363,1,172,89.0,110,70,1,1,0,1,0,0
1,21200,1,168,68.0,110,70,1,1,0,0,1,0
2,17286,1,167,74.0,120,80,1,1,0,0,1,0
3,15822,1,157,61.0,90,70,1,1,0,0,1,0
4,20458,1,156,55.0,110,70,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3995,23279,1,170,72.0,120,80,1,1,0,0,0,0
3996,20450,1,165,58.0,120,80,1,1,0,0,1,1
3997,22085,2,170,71.0,120,90,1,1,0,0,1,1
3998,23212,1,164,73.0,130,90,1,1,0,0,1,1
3999,18983,2,175,98.0,140,90,2,1,0,0,1,1

In [9]:
df['cardio'].value_counts(normalize=True)

0    0.505
1    0.495
Name: cardio, dtype: float64

In [11]:
df['cardio'].groupby(df['cholesterol']).mean()

cholesterol
1    0.432000
2    0.618692
3    0.759140
Name: cardio, dtype: float64

In [12]:
df['cardio'].groupby(df['ap_hi']).mean()

ap_hi
10       1.000000
11       0.666667
12       0.000000
13       0.000000
14       0.000000
           ...
240      1.000000
1202     1.000000
1300     0.000000
1620     1.000000
14020    0.000000
Name: cardio, Length: 62, dtype: float64

In [13]:
df['cardio'].groupby(df['gender']).mean()

gender
1    0.493066
2    0.498575
Name: cardio, dtype: float64

In [15]:
df['cardio'].groupby(df['ap_lo']).mean()

ap_lo
0       0.000000
20      0.000000
40      1.000000
50      0.500000
60      0.222930
63      0.000000
65      0.500000
66      0.000000
68      0.000000
69      0.000000
70      0.273950
72      0.333333
73      1.000000
75      0.200000
77      1.000000
78      0.000000
79      0.571429
80      0.429768
82      1.000000
83      0.000000
84      0.000000
85      0.500000
87      0.666667
88      1.000000
89      1.000000
90      0.754717
94      1.000000
95      0.666667
96      1.000000
99      0.000000
100     0.807339
101     0.000000
103     0.000000
105     1.000000
109     1.000000
110     0.760000
115     1.000000
120     0.583333
130     0.666667
150     1.000000
710     0.000000
1000    0.886364
1001    1.000000
1100    0.909091
1110    1.000000
1120    1.000000
5700    0.000000
9800    0.000000
Name: cardio, dtype: float64

In [16]:
df['cardio'].groupby(df['gluc']).mean()

gluc
1    0.474816
2    0.600000
3    0.616129
Name: cardio, dtype: float64

In [17]:
train = df

In [18]:
test = pd.read_csv("~/mlopencode/test.csv")

In [19]:
print(len(train.columns))

12

In [21]:
from sklearn.model_selection import GridSearchCSV

ModuleNotFoundError: No module named 'sklearn'

In [22]:
!pip3 install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-0.23.2-cp38-cp38-manylinux1_x86_64.whl (6.8 MB)
     |████████████████████████████████| 6.8 MB 4.4 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->sklearn) (0.15.1)
Requirement already satisfied: scipy>=0.19.1 in /home/dev/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /home/dev/.local/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.18.3)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-2.1.0-py3-none-any.whl (12 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1315 sha256=228f5b5ae50c9b2b947b3153824857fe41dddc34470c07e8c28d83000a8a3bd5
  Stored in directory: /home/dev/.cache/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
Successfully built sklearn
Installing collected packages: threadpoolctl, scikit-learn, sklearn
Successfully installed scikit-learn-0.23.2 sklearn-0.0 threadpoolctl-2.1.0

In [23]:
from sklearn.model_selection import GridSearchCSV

ImportError: cannot import name 'GridSearchCSV' from 'sklearn.model_selection' (/home/dev/.local/lib/python3.8/site-packages/sklearn/model_selection/__init__.py)

In [61]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn import metrics

In [26]:
def bootstrap(df, n):
    bob = df.sample(n)
    return bob

In [27]:
boots = bootstrap(train, 3)

In [28]:
boots

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
875,21100,2,169,100.0,130,90,3,3,0,0,1,1
1840,20389,1,171,130.0,130,80,1,1,0,0,1,0
3782,14405,1,170,78.0,120,80,1,1,0,0,0,0

In [62]:
def randomforest(df, k, n, d):
    bootsy = bootstrap(df, n)
    t = bootsy.sample(d, axis = 1)
    features = list(t.columns)
    x = bootsy[features]
    bootsy.head()
    y = bootsy['cardio']
    classy = tree.DecisionTreeClassifier()
    classy = classy.fit(x,y)
    predicted = classy.predict(x)
    print("Accuracy:",metrics.accuracy_score(y, predicted))
    return predicted

In [63]:
bb = randomforest(train, 3, 3, 3)

Accuracy: 1.0

In [64]:
bb

array([1, 0, 0])

In [66]:
!pip3 install graphviz
!pip3 install pydotplus

Collecting graphviz
  Downloading graphviz-0.14.1-py2.py3-none-any.whl (18 kB)
Installing collected packages: graphviz
Successfully installed graphviz-0.14.1
Requirement already satisfied: pydotplus in /home/dev/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in /home/dev/.local/lib/python3.8/site-packages (from pydotplus) (2.4.7)

In [68]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

ImportError: cannot import name 'StringIO' from 'sklearn' (/home/dev/.local/lib/python3.8/site-packages/sklearn/__init__.py)